/* CSS file for ITIS3135 */

body {
    font-family: Arial;
    background-color: lightblue;
    color: #2a2a2a;
}

h1 {
    color: darkblue;
}

h2 {
    color: darkblue;
}

a {
    color: green;
}

nav a {
    margin-right: 20px;
}

footer {
    margin-top: 50px;
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
    margin-top: 10px;
    color: #666;
}

a:link {
    color: green;
}

a:visited {
    color: green;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

a:active {
    color: orange;
}

main {
    width: 95%;
    max-width: 1400px;
    margin: 0 auto;
}

blockquote {
  font-style: italic;
  border-left: 4px solid #ccc;
  padding-left: 20px;
  margin: 20px 0;
}

@media screen and (min-width: 601px) and (max-width: 980px) {
    main {
        width: 90%;
    }
    
    nav a {
        margin-right: 15px;
    }
    
    body {
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) {
    main {
        width: 95%;
    }
    
    nav a {
        display: block;
        margin: 10px 0;
    }
    
    body {
        font-size: 14px;
    }
    
    h1 {
        font-size: 1.5em;
    }
}